{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
<div>
<h1> choisissez le formualire a complete </h1>
<select class="custom-select">
  <option value="" disabled selected>Choose your option</option>
  <option value="" data-icon="https://mdbootstrap.com/img/Photos/Avatars/avatar-1.jpg" class="rounded-circle">example
</select>
</div>

{% endblock %}