{# MODAL SI JUSTE #}
<!-- Central Modal Medium Success -->
<div class="modal fade" id="centralModalSuccess" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-notify modal-success" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h1 class="heading lead">BRAVO BONNE REPONSE!!!</h1>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-check fa-10x mb-3 animated rotateIn"></i>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->


{# MODAL SI FAUX #}
<div class="modal fade" id="centralModalError" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">AIE MAUVAISE REPONSE ...</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-times fa-10x mb-3 animated rotateIn"></i>
          </div>
      </div>

     
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Central Modal Medium Success-->

{# MODAL TIMER ECOULE  #}
<div class="modal fade" id="centralModalTimer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">AIE LE TEMPS EST ECOULE!!</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="fas fa-stopwatch fa-10x mb-3 animated rotateIn"></i>
          </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>

