{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
   <p id="time-counter" class="border border-light my-4"></p>
{% endblock %}


{% block footer %}
{{ parent() }}
<script>
function decompte(){
    // Set the date we're counting down to
    var countDownDate = new Date();
    countDownDate.setDate(countDownDate.getDate() + 30);

    // Update the count down every 1 second
    var x = setInterval(function () {

      // Get todays date and time
      var now = new Date().getTime();

      // Find the distance between now an the count down date
      var distance = countDownDate - now;

      // Time calculations for days, hours, minutes and seconds
      var seconds = Math.floor((distance % (1000 * 12)) / 1000);

      // Display the result in the element with id="demo"
      document.getElementById("time-counter").innerHTML = seconds + "s ";

      // If the count down is finished, write some text
      if (seconds <= 0) {
        clearInterval(x);
        document.getElementById("time-counter").innerHTML = "Perdu! Essaye de nouveau!";
      }
    }, 1000);
}
decompte();

</script>
{% endblock %}