{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
<div class="container mt-4 pt-5 pb-5">
		
			<div class="card bg-secondary text-white">
				<h5 class="card-header">Ajouter une question à {{ titre  }}</h5>
				<div class="card-body">
					<form id="addQuestion" action="">
		
						<div class="form-group">
		
							<label for="questionText">Question: </label>
							<input autofocus type="text" name="questionText" class="form-control" value="" />
		
						</div>
		
						<div class="form-group">
		
							<label for="questionAnswer">Réponse: </label>
							<input type="text" name="questionAnswer" class="form-control" value="" />
		
						</div>
		
						<div class="form-group">
		
							<label for="questionProposal1">Choix 1: </label>
							<input type="text" name="questionProposal1" class="form-control" value="" />
		
						</div>
		
						<div class="form-group">
		
							<label for="questionProposal2">Choix 2: </label>
							<input type="text" name="questionProposal2" class="form-control" value="" />
		
						</div>
		
						<div class="form-group">
		
							<label for="questionProposal3">Choix 3: </label>
							<input type="text" name="questionProposal3" class="form-control" value="" />
		
						</div>
						
						<button type="submit" class="btn btn-primary">Envois</button>		
						
					</form>
				</div>
			</div>
		
		</div>

{% endblock %}