{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
<div class="container mt-4 pt-5 pb-5 ">
		
			<div class="card text-white" style="text-align:center;">
            <img class="card-img-top" src="{{  asset('img/jungle.jpg') }}" alt"Card image"> 
            
               <div class="card-img-overlay "> 

                <h5 class="card-header"><b>Ajouter une question au questionnaire</b></h5>

					<form id="addQuestion" action="">
                        <div class="container ">

                            <div class="form-group " >
            
                                <label for="questionText" class="text-center btn aqua-gradient"><b>SUCE MOI DYLAN Intitulé de la question:</b>
                                <input autofocus type="text" name="questionText" class="form-control mb-1" required="" value="" /> </label>
                      
                            </div>
            
        
            
                            <div class="form-group">

                             <label for="questionAnswer" class="text-center btn btn-success"><b>Réponse de la question (celle-ci sera juste): </b>
                                 <input type="text" name="questionAnswer" class="form-control" value="" /></label>
            
                                <label for="questionProposal1" class="text-center btn btn-danger"><b>Choix 1 à la question (celle-ci sera fausse):</b>
                                <input type="text" name="questionProposal1" class="form-control" value="" /></label>
                                
                                <label for="questionProposal2" class="text-center btn btn-danger"><b>Choix 2 à la question (celle-ci sera fausse):</b>
                                <input type="text" name="questionProposal2" class="form-control" value="" /></label>

                                <label for="questionProposal3" class="text-center btn btn-danger"><b>Choix 3 à la question (celle-ci sera fausse):</b>
                                <input type="text" name="questionProposal3" class="form-control" value="" /></label>
            
                            </div>


                            <div>
                            <button type="submit" class="btn btn-primary">Envois</button>	
                            </div>	
                        </div>  
					</form>
				</div>
			</div>
		
		</div>

{% endblock %}