{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
    <div class="container border border-primary rem-5">

    <!-- Default form contact -->
    <form class="text-center border border-light p-5" action="{{ path('administrateur_ajout_questionnaire') }}">

        <p class="h4 mb-4">Entrez les informations du formulaire</p>

        <!-- Nom -->
        <input type="text" name="titre" class="form-control mb-4" placeholder="Titre du formulaire" required="">

        <!-- Themes -->
        <label>Thémes du formulaire</label>
        <select name="theme" class="browser-default custom-select mb-4" required="">
            <option value="" selected>Sélectionner une option</option>
            <option value="MATH">Mathématique</option>
            <option value="FRANCAIS">Français</option>
            <option value="HISTOIRE">Histoire</option>
            <option value="GEO">Géographie</option>
            <option value="AUTRES">Autres</option>
        </select>

        <!-- Autres -->
        <input type="text" id="theme2" class="form-control mb-4" placeholder="Themes du formulaire">

        <!-- Difficulté -->
        <label>Difficulté du formulaire</label>
        <select name="difficulte" class="browser-default custom-select mb-4" required="">
            <option value="" seected>Sélectionner une option</option>
            <option value="FACILE">Facile</option>
            <option value="MOYEN">Moyen</option>
            <option value="DIFFICILE">Difficile</option>
        </select>

        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Valider</button>

    </form>
    <!-- Default form contact -->

    <!-- Content here -->
    </div>

{% endblock %}

{% block footer %}
{{ parent() }}
 <script src="{{  asset('js/administrateur.js') }}"></script>
 {% endblock %}