{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
<div class="container border border-primary rem-5">

<!-- Default form contact -->
<form  method="post" class="text-center border border-light p-5" action="{{ path('administrateur_ajout_formulaire') }}">

    <p class="h4 mb-4">Entrez les informations du formulaire</p>

    <!-- Nom -->
    <input type="text" id="nom" class="form-control mb-4" placeholder="Titre du formulaire" required="">

    <!-- Themes -->
    <label>Thémes du formulaire</label>
    <select id="theme" class="browser-default custom-select mb-4" required="">
        <option value="" selected>Sélectionner une option</option>
        <option value="1">Mathématique</option>
        <option value="2">Français</option>
        <option value="3">Histoire</option>
        <option value="4">Géographie</option>
        <option value="4">Autres</option>
    </select>

     <!-- Autres -->
    <input type="text" id="theme2" class="form-control mb-4" placeholder="Themes du formulaire">

    <!-- Difficulté -->
    <label>Difficulté du formulaire</label>
    <select id="difficulte" class="browser-default custom-select mb-4" required="">
        <option value="" seected>Sélectionner une option</option>
        <option value="1" >Facile</option>
        <option value="2">Moyen</option>
        <option value="3">Difficile</option>
    </select>

    <!-- Send button -->
    <button class="btn btn-info btn-block" type="submit">Valider</button>

</form>
<!-- Default form contact -->

  <!-- Content here -->
</div>
{% endblock %}

{% block footer %}
{{ parent() }}
 <script src="{{  asset('js/administrateur.js') }}"></script>
 {% endblock %}