
{% extends "ATCAppBundle::index.html.twig" %}

{% block body %}
<div class= "responsive bg-transparent">
    
    

     <!-- Mask & flexbox options-->
    
    
      <!-- Content -->
      <div class="responsive text-center white-text ">

        <!-- Section heading -->
        <h1 class="display-4 mt-5 mb-6">Questionnaire avec l'id </h1>
        <h2 class="mb-5"><b> Combien font 1 + 1 ? </b></h2>
     
        <!-- Grid row -->
       
        <div class="row justify-content-center ">
        <div class="col-sm">
        
            <div class="btn btn-lg  btn-primary col-xs-12 col-md-8"><b>1</b></div>
            <div class="btn btn-lg  btn-danger  col-xs-12 col-md-8"><b>2</b></div>
        
        </div>
        <div class="col-sm">
        
            <div class="btn btn-lg  btn-warning col-xs-12 col-md-8"><b>3</b></div>
            <div class="btn btn-lg  btn-success col-xs-12 col-md-8"><b>4</b></div>
        
        </div>
       </div>
        <!-- Grid row -->

      </div>
    
</div>
{% endblock %}